.not_found{
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    height: 80vh;
    width: 50%;
    background-repeat: no-repeat;
    margin: auto;
}