<!-- <p>built-in-pipes works!</p>
<h1>{{s|uppercase}}</h1>
<h1>{{s|lowercase}}</h1>
<h1>{{s|slice: 3:6}}</h1>
<h1>{{s|uppercase}}</h1>
<h1><h1>{{s|titlecase}}</h1></h1>
<h1>{{ob|json}}</h1> -->


<!-- Date pipes -->
<h1>{{date}}</h1>
<h1>{{date | date:'short'}}</h1>
<h1>{{date | date:'medium'}}</h1>
<h1>{{date | date:'long'}}</h1>
<h1>{{date | date:'full'}}</h1>
<br>

<h1>{{date | date:'shortDate'}}</h1>
<h1>{{date | date:'mediumDate'}}</h1>
<h1>{{date | date:'longDate'}}</h1>
<h1>{{date | date:'fullDate'}}</h1>

<br>

<h1>{{date | date:'shortTime'}}</h1>
<h1>{{date | date:'mediumTime'}}</h1>
<h1>{{date | date:'longTime'}}</h1>
<h1>{{date | date:'fullTime'}}</h1>
<br>

<h1>{{date | date:'h:m:s a'}}</h1>
<br>
<h1>{{date | date:'d:M:Y'}}</h1>

<br>

<h1>{{45.7767 | number:'6.2-3'}}</h1>
<h2>{{50 | currency}}</h2>
